{{ 'custom-marquee.css' | asset_url | stylesheet_tag }}


<div class="custom-marquee" style="--marquee-bg: {{ section.settings.bg_color }}; --marquee-text: {{ section.settings.text_color }}; --marquee-speed: {{ section.settings.speed }}s">
    <div class="custom-marquee__track">
        <div class="custom-marquee__content">
            {% for i in (1..13) %}
                {%  for block in section.blocks %}
                    {%  if block.settings.text != blank %}
                        <span class="custom-marquee__text" {{ block.shopify_attributes }}>{{ block.settings.text }} •</span>
                    {%  endif %}    
                {% endfor %}   
            {% endfor %}
        </div>
        <div class="custom-marquee__content" aria-hidden="true">
            {% for i in (1..13) %}
                {%  for block in section.blocks %}
                    {%  if block.settings.text != blank %}
                        <span class="custom-marquee__text" {{ block.shopify_attributes }}>{{ block.settings.text }} •</span>
                    {%  endif %}    
                {% endfor %}   
            {% endfor %}
        </div>
    </div>
</div>
{%  schema %}
{
    "name": "Custom Narquee",
    "settings": [
        {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": " #000000"
        },
        {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": " #ffffff"
        },
        {
        "type": "range",
        "id": "speed",
        "min": 5,
        "max": 100,
        "step": 1,
        "unit": "sec",
        "label": "Animation Speed",
        "default": 30
        }
    ],
    "blocks": [
        {
        "type": "marquee_text",
        "name": "Text Block",
        "settings": [
            {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Your promo text here"
            }
        ]
        }
    ],
    "presets": [
        {
            "name": "Custom Marquee",
            "blocks": [
        {
        "type": "marquee_text",
        "settings": {
        "text": "FREE SHIPPING OVER $100"
        }
        },
        {
        "type": "marquee_text",
        "settings": {
        "text": "20% OFF STACKS"
        }
        }
            ]
        
        }
    ]
    
}
{% endschema %}